/target
**/target
/data
/world
/backups
/logs
/mods/*/
*.wasm
garnet.toml
panel-users.json
permissions.toml
banned-players.json
banned-ips.json
ops.json
whitelist.json
server-icon.png
*.part
*.tmp
.DS_Store
Thumbs.db
.vscode/
.idea/
